@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('../fonts/gloriahallelujah.ttf');
}
form {
  margin: 0 auto;
}
main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #c4e381;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: row;
  overflow: auto;
  flex-direction: column;
}
h1 {
  font-family: 'Gloria Hallelujah';
}
#type-word {
  width: 1000px;
  height: 300px;
  border-radius: 20px;
  background-color: #a4e3f3;
}
input[type="text"] {
  font-family: 'Gloria Hallelujah';
  text-align: center;
  color: yellow;
  font-size: 100px;
}
#check, #speak {
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Gloria Hallelujah';
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
}
.popup {
  width: 100%;
  height: 100%;
  color: purple;
}
.virtual-keyboard-hook {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 100px;
  color: #a4e3f3;
}
